Checks: >
  clang-analyzer-*,
  -clang-analyzer-security.*,
  bugprone-*,
  cert-err33-c,
  cert-err34-c,
  cert-fio38-c,
  performance-*,
  portability-*,
  misc-unused-parameters
WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*,
  cert-err33-c,
  cert-err34-c,
  cert-fio38-c
HeaderFilterRegex: ".*"
FormatStyle: none
