[Unit]
Description=Workout Screen Locker
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=/home/kuhy/testsAndMisc
Environment=DISPLAY=:0
Environment=PYTHONPATH=/home/kuhy/testsAndMisc
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 -m python_pkg.screen_locker.screen_lock --production
Restart=no
User=%u

[Install]
WantedBy=graphical-session.target
