[Unit]
Description=Workout Screen Locker
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/kuhy/testsAndMisc/python_pkg/screen_locker/screen_lock.py --production
Restart=no
User=%u

[Install]
WantedBy=graphical-session.target
